<STYLE>

    .transparent {
        display: none;
    }

    form {
        border-radius: 5px;
        background-color: #71C5EB;
    }

    table {
        margin-top: 1%;
        margin-left: 0%;
        width: 100%;
        table-layout: auto;
        border: 2px solid black;
        border-radius: 5px;
    }

    tr {
        margin-left: 0%;
        width: 100%;
    }

    .head-table {
        margin-left: 0%;
        width: 100%;
        margin-top: 5%;
        text-align: center;
        background-color: #71C5EB;
    }

    th {
        text-align: center;
    }

    th, td {
        margin-left: 0%;
        width: 33%;
        overflow: hidden;
    }

    .father-label {
        margin-top:1%;
        margin-left: 1%;
        background-color: white;
        width: 99%;
        border-radius: 5px;
    }

    .label-label {
        float: left;
        width: auto;
    }

    .input-label {
        margin-left: 1%;
        width: 85%;
        border-radius: 5px;
        border: none;
        border-left: 7px solid #71C5EB;
        float: left;
        border-radius: 0px;
    }

    .input-label2
    {
        float: right;
<<<<<<< HEAD
        width: 87%;
=======
        width: 90%;
>>>>>>> d4a242463daac04db1ba77068c3b25115029f0ca
    }
    .upload-button {
        margin-top: 2%;
        background-color: black;
        color: white;
    }

    .back-color {
        background-color: #71C5EB;
    }

    .to-width {
        margin-top: 1%;
        margin-left: 0%;
        width: 100%;
    }

    .link
    {
        margin-top: 4%;
        margin-left: 1%;
        width: 99%;
        color: black;
        text-align:center;
    }
    .container-link
    {
        margin-top: 4%;
        width: 100%;
        background-color: #CFFFD8;
        text-align: center;
        border-radius: 5px;
    }
</STYLE>

@model WebApplication_TareaII_MVC.Controllers.Compartido.Compartido_Context;
@* @model WebApplication_TareaII_MVC.Models.Profesion.registro_profesion;
@model WebApplication_TareaII_MVC.Models.Grados.registro_grado;*@
@{
    Layout = "_Layout";
}

<<<<<<< HEAD

<script type="text/javascript">
    function check_Empty() {
        //change1();
        //string ids = ["", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", ""];
        let flag = false;
        let ids = ["nombreProfesion", "unidadDeMedidaSalario", "gradoAcademico"];
        for (let idnumber = 0; idnumber < ids.length; idnumber++) {
            if (document.getElementById(ids[idnumber]).value == " " || document.getElementById(ids[idnumber]).value == "" || document.getElementById(ids[idnumber]).value == null) {
                flag = true;
                break;
            }
        }
        document.getElementById("send-sent").disabled = flag;

        if (flag == true) {
            document.getElementById("send-sent").style.display = "none";
        } else {
            document.getElementById("send-sent").style.display = "block";
        }

    }
</script>

=======
>>>>>>> d4a242463daac04db1ba77068c3b25115029f0ca
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Libraries/CSS/pequena.css" />
    <title>Index</title>
</head>

<<<<<<< HEAD
<body onload="check_Empty()">
=======
<body>
>>>>>>> d4a242463daac04db1ba77068c3b25115029f0ca
    <form method="post" enctype="multipart/form-data" asp-controller="Profesion" asp-action="Registrar">
        <table>
            <input type="number" class="transparent" asp-for="Registro_save.idProfesionDisponible" value="@TempData["idProfesionDisponible"]" />
            <tr class="father-label">
<<<<<<< HEAD
                <td><label class="label-label">Nombre Profesion </label><input type="text" class="input-label" id="nombreProfesion" asp-for="Registro_save.nombreProfesion" value="@TempData["nombreProfesion"]" maxlength="100" onkeyup="check_Empty()" onchange="check_Empty()" /></td>
            </tr>
            <tr class="father-label">
                <td><label class="label-label">Medida Salario </label><input type="number" class="input-label" id="unidadDeMedidaSalario" asp-for="Registro_save.unidadDeMedidaSalario" value="@TempData["unidadDeMedidaSalario"]" onkeyup="check_Empty()" onchange="check_Empty()" /></td>
=======
                <td><label class="label-label">Nombre Profesion </label><input type="text" class="input-label" id="nombreProfesion" asp-for="Registro_save.nombreProfesion" value="@TempData["nombreProfesion"]" /></td>
            </tr>
            <tr class="father-label">
                <td><label class="label-label">Medida Salario </label><input type="number" class="input-label" id="unidadDeMedidaSalario" asp-for="Registro_save.unidadDeMedidaSalario" value="@TempData["unidadDeMedidaSalario"]" /></td>
>>>>>>> d4a242463daac04db1ba77068c3b25115029f0ca
            </tr>
            <tr class="to-width">
                <td>
                <label class="label-label"> Grado Academico </label>
<<<<<<< HEAD
                    <select class="input-label2" id="gradoAcademico" runat="server" asp-for="Registro_save.gradoAcademico" value="@TempData["gradoAcademico"]" maxlength="20" onkeyup="check_Empty()" onchange="check_Empty()">
=======
                <select class="input-label2" id="gradoAcademico" runat="server" asp-for="Registro_save.gradoAcademico" value="@TempData["gradoAcademico"]">
>>>>>>> d4a242463daac04db1ba77068c3b25115029f0ca
                    @{
                        if (@ViewBag.opciones_grados != null)
                        {
                            @foreach (WebApplication_TareaII_MVC.Models.Grados.registro_grado Grupo in ViewBag.opciones_grados)
                            {
                                if (@TempData["gradoAcademico"] != null)
                                {
                                    if (@Grupo.gradoAcademicoDisponible == @TempData["gradoAcademico"].ToString())
                                    {
                                        <option value="@Grupo.gradoAcademicoDisponible" selected>@Grupo.gradoAcademicoDisponible</option>
                                    }
                                    else
                                    {
                                        <option value="@Grupo.gradoAcademicoDisponible">@Grupo.gradoAcademicoDisponible</option>
                                    }
                                }
                                else
                                {
                                    <option value="@Grupo.gradoAcademicoDisponible">@Grupo.gradoAcademicoDisponible</option>
                                }

                            }
                        }
                    }
                </select>
                </td>
            </tr>
            
            <tr>
<<<<<<< HEAD
                <td><input class="upload-button" id="send-sent"  type="submit" value="Guardar" /></td>
=======
                <td><input class="upload-button"type="submit" value="Guardar" /></td>
>>>>>>> d4a242463daac04db1ba77068c3b25115029f0ca
            </tr>
        </table>
    </form>


    <div class="container-link"><a class="link" href="https://www.mtss.go.cr/temas-laborales/salarios/Documentos-Salarios/lista_salarios_2023_ps.pdf" target="_blank">LINK A LISTA DE SALARIOS MINIMOS POR PROFESION 2O23</a></div>
    
    @{
    if (@ViewBag.registro_profesiones != null)
    {
            <label class="head-table">Registro Profesiones Disponibles</label>
        <table>
            <tr>
                <th>Nombre Profesion</th>
                <th>Grado Academico</th>
                <th>Unidad Medida</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
            @{int counter=0;}

                @foreach (WebApplication_TareaII_MVC.Models.Profesion.registro_profesion Grupo in ViewBag.registro_profesiones)
            {
                if (Grupo != null)
                {
                    if (counter % 2 == 0)
                    {
                        <tr>
                            <td class="back-color">@Grupo.nombreProfesion</td>
                            <td class="back-color">@Grupo.gradoAcademico</td>
                            <td class="back-color">@Grupo.unidadDeMedidaSalario</td>
                            <td class="back-color"><a asp-action="Editar" asp-controller="Profesion" asp-route-id="@Grupo.idProfesionDisponible">Editar</a></td>
                            <td class="back-color"><a asp-action="Eliminar" asp-controller="Profesion" asp-route-id="@Grupo.idProfesionDisponible" onclick="return confirm('¿Seguro que desea eliminar?');">Eliminar</a></td>
                        </tr>
                            
                    }
                    else
                    {
                        <tr>
                            <td>@Grupo.nombreProfesion</td>
                            <td>@Grupo.gradoAcademico</td>
                            <td>@Grupo.unidadDeMedidaSalario</td>
                            <td><a asp-action="Editar" asp-controller="Profesion" asp-route-id="@Grupo.idProfesionDisponible">Editar</a></td>
                            <td><a asp-action="Eliminar" asp-controller="Profesion" asp-route-id="@Grupo.idProfesionDisponible" onclick="return confirm('¿Seguro que desea eliminar?');">Eliminar</a></td>
                        </tr>
                    }
                        counter++;
                }
            }
        
        </table>
    }
    }
</body>
</html>