
<style>

    .transparent {
        display: none;
    }

    form {
        margin-top: 2%;
        border-radius: 5px;
        background-color: #71C5EB;
        
    }

    .form-form
    {
        height: 40%;
        margin-top: 1%;
        margin-left: 0%;
        width: 100%;
        display: inline-block;
    }

    table {
        margin-top: 1%;
        margin-left: 0%;
        width: 100%;
        table-layout: auto;
        border: 2px solid black;
        border-radius: 5px;
        height: 100%;
    }

    th, td {
        text-align: center;
        margin-left: 0%;
        width: 33%;
        overflow: hidden;
    }
    tr {
        margin-left: 0%;
        width: 100%;
    }

    .head-table {
        margin-left: 0%;
        width: 100%;
        margin-top: 5%;
        text-align: center;
        background-color: #71C5EB;
    }
    .extuno {
        text-align: center;
        margin-left: 0%;
        width: 33%;
        overflow: hidden;
        float:left;
    }
    .extdos {
        margin-left: 0%;
        width: 100%;
    }
    .extres
    {
        width: 20%;
        margin-left:1%;
    }
    .father-label {
        margin-top: 1%;
        margin-left: 1%;
        background-color: white;
        width: 99%;
        border-radius: 5px;
    }

    .label-label {
        float: left;
        width: auto;
    }

    .input-label {
        margin-left: 1%;
        width: 85%;
        border-radius: 5px;
        border: none;
        border-left: 7px solid #71C5EB;
        float: left;
        border-radius: 0px;
    }

    .label-label1 {
        width: 75%;
        margin-left:1%;
    }

    .input-label2 {
        margin-right: 0%;
        float: right;
    }

    .upload-button {
        margin-top: 2%;
        background-color: black;
        color: white;
    }

    .back-color, .back-color2 {
        background-color: #71C5EB;
    }

    .back-color2, .back-color3 {
        text-decoration-line: underline;
        color: #427ebd;
    }

    .back-color2:hover, .back-color3:hover {
        color: #4292bd;
    }

    .to-width {
        margin-top: 1%;
        margin-left: 0%;
        width: 100%;
    }

    .container-tables
    {
         margin-left:0%;
         margin-top:0%;
         width: 100%;
         height: 50%;
         display: inline-block;
    }

    .row-tables
    {
        margin-left: 0%;
        margin-top: 0%;
        width: 50%;
        height: 100%;
        float: left;
    }
</style>

<script type="text/javascript">
    function click_empleado(id, nombre)
    {
        document.getElementById("idEmpleadoAsociado").value = id;
        document.getElementById("nombre_idEmpleadoAsociado").value = nombre;
        check_Empty();
    }

    function click_edificio(id, nombre,grado)
    {
        document.getElementById("idPuestoAsociado").value = id;
        document.getElementById("nombre_idPuestoAsociado").value = nombre;
        document.getElementById("nombre_idgradoAsociado").value = grado;
        check_Empty();
    }

    function check_Empty()
    {
        //change1();
        //string ids = ["", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", ""];
        let flag = false;
        let ids = ["nombre_idEmpleadoAsociado", "nombre_idPuestoAsociado", "nombre_idgradoAsociado"];//, "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", ""];
        for(let idnumber=0;idnumber<ids.length; idnumber++)
        {
            if (document.getElementById(ids[idnumber]).value == " " || document.getElementById(ids[idnumber]).value == "" || document.getElementById(ids[idnumber]).value == null)
            {
                flag =  true;
                break;
            }
        }
        document.getElementById("send-sent").disabled = flag;
        if (flag ==true)
        {
            document.getElementById("send-sent").style.display = "none";
        }else
        {
            document.getElementById("send-sent").style.display = "block";
        }
       
    }

    function change1()
    {
        document.getElementById("fecha1").value = document.getElementById("fechaRegistro").value;
        check_Empty();
    }
</script>

@model WebApplication_TareaII_MVC.Models.Asociar.asociar_registro

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Libraries/CSS/pequena.css" />
    <title>Index</title>
</head>

<body onload="check_Empty()">
    
    <div class="container-tables">
        <div class="row-tables">

            @{
                if (@ViewBag.registro_empleados != null)
                {
                    <label class="head-table">Registro Empleados Disponibles</label>
                    <table>
                        <tr>
                            <th>Nombre Empleado</th>
                            <th>Seleccionar</th>
                        </tr>
                        @{
                            int counter = 0;
                        }

                        @foreach (WebApplication_TareaII_MVC.Models.Empleado.registro_empleados Grupo in ViewBag.registro_empleados)
                        {
                            if (Grupo != null)
                            {
                                if (counter % 2 == 0)
                                {
                                    <tr>
                                        <td class="back-color">@Grupo.nombreEmpleado</td>
                                        <td class="back-color2" onclick="click_empleado('@Grupo.idEmpleado','@Grupo.nombreEmpleado')">Elegir</td>
                                    </tr>

                                }
                                else
                                {
                                    <tr>
                                        <td>@Grupo.nombreEmpleado</td>
                                        <td class="back-color3" onclick="click_empleado('@Grupo.idEmpleado','@Grupo.nombreEmpleado')">Elegir</td>
                                    </tr>
                                }
                                counter++;
                            }
                        }

                    </table>
                }
            }
        </div>
        <div class="row-tables">
            @{
                if (@ViewBag.registro_puestos != null)
                {
                    <label class="head-table">Registro Edificios Disponibles</label>
                    <table>
                        <tr>
                            <th>Profesion</th>
                            <th>Nivel</th>
                            <th>Seleccionar</th>
                        </tr>
                        @{
                            int counter = 0;
                        }

                        @foreach (WebApplication_TareaII_MVC.Models.Profesion.registro_profesion Grupo in ViewBag.registro_puestos)
                        {
                            if (Grupo != null)
                            {
                                if (counter % 2 == 0)
                                {
                                    <tr>
                                        <td class="back-color">@Grupo.nombreProfesion</td>
                                        <td class="back-color">@Grupo.gradoAcademico</td>
                                        <td class="back-color2" onclick="click_edificio('@Grupo.idProfesionDisponible','@Grupo.nombreProfesion','@Grupo.gradoAcademico')">Elegir</td>
                                    </tr>

                                }
                                else
                                {
                                    <tr>
                                        <td class="back-color">@Grupo.nombreProfesion</td>
                                        <td class="back-color">@Grupo.gradoAcademico</td>
                                        <td class="back-color2" onclick="click_edificio('@Grupo.idProfesionDisponible','@Grupo.nombreProfesion','@Grupo.gradoAcademico')">Elegir</td>
                                    </tr>
                                }
                                counter++;
                            }
                        }

                    </table>
                }
            }
        </div>

    </div>
    <div class="form-form">
        <form method="post" enctype="multipart/form-data" asp-controller="Asociar" asp-action="Registrar">
            <table>
                <input type="number" class="transparent" asp-for="idRegistro" value="@TempData["idRegistro"]" />
                <tr class="father-label">
                    <td class="extuno">
                        <label class="label-label">Empleado Asociado </label>
                        <input readonly type="text" class="input-label" id="nombre_idEmpleadoAsociado" value="@TempData["nombre_idEmpleadoAsociado"]" onKeyPress="check_Empty()" />
                        <input readonly type="text" class="transparent" id="idEmpleadoAsociado" asp-for="idEmpleadoAsociado" value="@TempData["idEmpleadoAsociado"]" />
                    </td>
                    <td class="extuno">
                        <label class="label-label">Puesto Asociado </label>
                        <input readonly type="text" class="input-label" id="nombre_idPuestoAsociado" value="@TempData["nombre_idPuestoAsociado"]" onKeyPress="check_Empty()" />
                        <input readonly type="text" class="transparent" id="idPuestoAsociado" asp-for="idPuestoAsociado" value="@TempData["idPuestoAsociado"]" />
                    </td>
                    <td class="extuno">
                        <label class="label-label">Grado Asociado </label>
                        <input readonly type="text" class="input-label" id="nombre_idgradoAsociado" value="@TempData["nombre_idgradoAsociado"]" onKeyPress="check_Empty()" />
                    </td>
                </tr>
                <tr>
                    <td class="extdos">
                        <label class="label-label">Fecha Asociacion </label>
                        <input readonly type=text class="label-label1" id="fecha1" asp-for="fechaRegistro" value=@TempData["fechaRegistro"] />
                        <input class="input-label2" type="date" id="fechaRegistro" runat="server" asp-format="{0:yyyy-MM-dd}" value=@TempData["fechaRegistro1"] onchange="change1()" />
                    </td>
                </tr>
                <tr>
                    <td><input class="upload-button" id="send-sent" type="submit" value="Guardar" /></td>
                </tr>
            </table>
        </form>
    </div>
    @{
        if (@ViewBag.registro_registro_extent != null)
        {
            <label class="head-table">Registro Asociados Disponibles</label>
            <table>
                <tr>
                    <th class="extres">Nombre Asociado</th>
                    <th class="extres">Puesto Asociado</th>
                    <th class="extres">Grado Asociado</th>
                    <th class="extres">Fecha Asociacion</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
                @{
                    int counter = 0;
                }

                @foreach (WebApplication_TareaII_MVC.Models.Asociar.asociar_registro Grupo in ViewBag.registro_registro_extent)
                {
                    if (Grupo != null)
                    {
                        if (counter % 2 == 0)
                        {
                            <tr>
                                @if (ViewBag.registro_empleados_extent != null)
                                {
                                    @foreach (WebApplication_TareaII_MVC.Models.Empleado.registro_empleados Grupo1 in ViewBag.registro_empleados_extent)
                                    {
                                        if (Grupo.idEmpleadoAsociado == Grupo1.idEmpleado)
                                        {
                                            <td class="back-color extres">@Grupo1.nombreEmpleado</td>
                                        }
                                        break;
                                    }
                                }

                                @if (ViewBag.registro_profesion_extent != null)
                                {
                                    @foreach (WebApplication_TareaII_MVC.Models.Profesion.registro_profesion Grupo2 in ViewBag.registro_profesion_extent)
                                    {
                                        if (Grupo.idPuestoAsociado == Grupo2.idProfesionDisponible)
                                        {
                                            <td class="back-color extres">@Grupo2.nombreProfesion</td>
                                            <td class="back-color extres">@Grupo2.gradoAcademico</td>
                                            break;
                                        }
                                    }
                                }
                                <td class="back-color extres">@Grupo.fechaRegistro</td>
                                <td class="back-color extres"><a asp-action="Editar" asp-controller="Asociar" asp-route-id="@Grupo.idRegistro">Editar</a></td>
                                <td class="back-color extres"><a asp-action="Eliminar" asp-controller="Asociar" asp-route-id="@Grupo.idRegistro" onclick="return confirm('¿Seguro que desea eliminar?');">Eliminar</a></td>
                            </tr>

                        }
                        else
                        {
                            <tr>
                                @if (ViewBag.registro_empleados_extent != null)
                                {
                                    @foreach (WebApplication_TareaII_MVC.Models.Empleado.registro_empleados Grupo1 in ViewBag.registro_empleados_extent)
                                    {
                                        if (Grupo.idEmpleadoAsociado == Grupo1.idEmpleado)
                                        {
                                            <td class="extres">@Grupo1.nombreEmpleado</td>
                                        }
                                        break;
                                    }
                                }

                                @if (ViewBag.registro_profesion_extent != null)
                                {
                                    @foreach (WebApplication_TareaII_MVC.Models.Profesion.registro_profesion Grupo2 in ViewBag.registro_profesion_extent)
                                    {
                                        if (Grupo.idPuestoAsociado == Grupo2.idProfesionDisponible)
                                        {
                                            <td class="extres">@Grupo2.nombreProfesion</td>
                                            <td class="extres">@Grupo2.gradoAcademico</td>
                                            break;
                                        }
                                    }
                                }
                                <td class="extres">@Grupo.fechaRegistro</td>
                                <td><a asp-action="Editar" asp-controller="Asociar" asp-route-id="@Grupo.idRegistro">Editar</a></td>
                                <td><a asp-action="Eliminar" asp-controller="Asociar" asp-route-id="@Grupo.idRegistro" onclick="return confirm('¿Seguro que desea eliminar?');">Eliminar</a></td>
                            </tr>

                        }
                       
                        counter++;
                    }
                }
            </table>
        }
    }
</body>
</html>